

body {
  background-color: #36393e;
}
header {
  text-align:center;
  background-color: #b20609;
  padding: 10px;
}
header a {
  text-decoration: none;
 
} 
header a:visited{
  color:white;
}
header a:link {
  color:white;
}

header a:hover {
  color:black;
} 
header h1: {
  text-size: 8em;

}
h1 {
  text-size 4em;
}
h2 {
  color:white;
}
h3{
  color:white;
}
main {
  margin-left: 160px;
  border-left-style: solid;
  border-color: red;
}

nav {

  font-weight: 700;
  padding: 0;
  float: left;
  width: 160px;
  font-size: 1.5em;
  position: fixed;
}
nav a {
   text-decoration: none;
      }
nav a:link {
  color:white;
}
nav a:visited {
  color:white;
}
nav a:hover {
  color:red;
}  

nav ul {
  list-style-type: none;
  padding-left: 1em;
  line-height:150%;
}  

p {
  color: #FFFFFF;
}

table {
  border:1px solid red;
}
td {
  color:white;
  padding: 15px;
  border:1px solid red;
}
th {
   border:1px solid red;
}

@media screen and (min-width: 600px) {
  nav {
    float: inital;
    flex-direction: row;
  }


}
