

body {
  background-color: #36393e;
}
header {
  background-color: #b20609;
  text-align:center;
  padding: 10px;
}
header a {
  text-decoration: none;
 
} 
header a:visited{
  color:white;
}
header a:link {
  color:white;
}

header a:hover {
  color:black;
} 
header h1: {
  text-size: 8em;

}
h1 {
  text-size 4em;
}
h2 {
  color:white;
}
h3{
  color:white;
}
main {
  border-top-style: solid;
  border-color: #b20609;
  margin-bottom: 0px;
  padding: 5px;
}

nav {
  font-weight: 500;
  padding: 0;
  font-size: 1em;
  flex-direction:row;
}
nav a {
   text-decoration: none;
      }
nav a:link {
  color:white;
}
nav a:visited {
  color:white;
}
nav a:hover {
  color:red;
}  

nav ul {
  flex-direction: row;
  list-style-type: none;
  padding-left: 1em;
  line-height:150%;
 
}  

p {
  color: #FFFFFF;
}

table {
  border:1px solid red;
}
td {
  color:white;
  padding: 15px;
  border:1px solid red;
}
th {
   border:1px solid red;
}


@media screen and (min-width: 600px) {
    main {
      margin-left: 160px;
      border-left-style: solid;
      border-color: #b20609;
    }
    nav{
      width: 160px;
      font-size: 1.5em;

    }
    nav ul{
      flex-direction: column;
      postion: fixed;
      float: left;
      
    }
}


